body {
    display: flex;
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el padding por defecto del body */
    font-family: Arial, sans-serif; /* Fuente más moderna */
}
.sidebar {
    width: 20%; /* Ancho de la barra lateral en porcentaje */
    background-color: #020a12; /* Color de fondo de la barra lateral */
    padding: 20px; /* Espacio interno alrededor del contenido de la barra lateral */
    height: 100vh; /* Altura de la barra lateral igual a la altura de la ventana del navegador */
    position: fixed; /* Mantiene la barra lateral fija */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: flex-start; /* Alinea los elementos al inicio */
}
.logo {
    margin-bottom: 20px; /* Espacio para el logo */
    text-align: center; /* Centra el logo */
}
.content {
    margin-left: 20%; /* Espacio para la barra lateral en porcentaje */
    padding: 20px; /* Espacio interno alrededor del contenido principal */
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
}
.nav-link {
    margin-bottom: 10px; /* Espacio entre los enlaces de navegación */
    color: #ffffff; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
}
.nav-link:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
h2, h3 {
    color: #ffffff; /* Color de los encabezados */
}